certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
conan==2.31.2
distro==1.9.0
fasteners==0.20
idna==3.19
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
ml_dtypes==0.6.0
narwhals==2.24.0
numpy==2.5.2
onnx==1.22.0
onnxmltools==1.16.0
packaging==26.3
pandas==3.0.5
patch-ng==1.19.1
protobuf==7.35.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
scapy==2.7.0
scikit-learn==1.9.0
scipy==1.18.0
six==1.17.0
skl2onnx==1.20.0
threadpoolctl==3.6.0
typing_extensions==4.16.0
urllib3==2.7.0
